# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\D\small_python_pr\intense toggl viz\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
./bin/creds.txt